<header>
    <div class="header">
        <img src="assets/imgs/fundo-cima.png" alt="">
    </div>
</header>

<ion-content>

  <h1 class="title">
    <img src="assets/imgs/logo-seguejunto.png" alt="">
  </h1>

  <div class="input-wrapper">
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input type="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input type="password"  name="senha"></ion-input>
      </ion-item>
      <a class="forget">Esqueceu a senha</a>
      <div class="loginButton">
          <button >conectar</button>
      </div>
      
  </div>
   
</ion-content>